.feature .fbox-over {
	background-color:#231f20db;
}


.btn{
	background-color: #f82aa4;
    border: 2px solid #f82aa4;
}
.feature .fbox-over .btn{
	color: white;
}
.feature .fbox-over .btn:hover{
	color: #f82aa4;
	font-weight: 700; 
}
}

.header-s1.is-transparent.has-fixed .navbar-nav>li.active>a, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:hover, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:focus{
	color:black;
	font-weight: 700;
}
.header-s1.is-transparent .navbar-nav>li>a:not(.btn):after{
	    background-color: #f82aa4;
}

.header-s1.is-transparent.has-fixed .navbar-nav>li.active>a, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:hover, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:focus{
	color:black;
	font-weight: 700;
}

.site-header .quote-btn .btn{
	background-color: #f82aa4;
    border: 2px solid #f82aa4;
}
.site-header .quote-btn .btn:hover{
	background-color: #231f20;
    border: 2px solid #231f20;
}
.heading-section{
	font-weight: 700;
}

.icon-box.style-s1, .icon-box.style-s2{
	background-color: #231f20;
	color: #f82aa4;
}
.call-action.has-bg.bg-primary .cta-block, .call-action.has-parallax.bg-primary .cta-block {
    background: rgba(0, 0, 0, 0.47);
}
.call-action.bg-primary .btn:not(.btn-light), .call-action:not([class*='bg-']) .btn:not(.btn-light){
	 background-color: #f82aa4;
    border-color: #f82aa4;
}
.call-action.bg-primary .btn:not(.btn-light):hover, .call-action.bg-primary .btn:not(.btn-light):focus, .call-action:not([class*='bg-']) .btn:not(.btn-light):hover, .call-action:not([class*='bg-']) .btn:not(.btn-light):focus{
	color: #f82aa4;
}
.heading-sm-lead, .heading-md-lead{
	color:#f82aa4;
}
.has-bg.bg-alternet:after{
	background-color: #231f20;
}
.icon-box.style-s4{
	border-color: #f82aa4;
    color: #f82aa4;
}
.boxed-w .heading-box span:before{
	background-color: #f82aa4;
}
.feature .fbox-over .title{
	color: #f82aa4;
	font-weight: 700;
}
.top-nav li{
	margin: 0px -7px;
}

.top-nav li a{
	text-decoration: none;
}
.top-nav li a:hover{
	color: #f82aa4;
}
.header-s1 .navbar-brand{
	margin-top: 8px;
	margin-bottom: 0px;
}
.sub-menu-right{
	padding-left:20px;
}
.main-menu-right > a{
	font-weight: 700;
}